* {
    margin: 0;
    padding: 0;
    font-family: "Kelly Slab", sans-serif;
    color: white;
}

body {
    background-color: #7B7B7B;
}

.header-menu {
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-menu ul {
    display: flex;
    column-gap: 50px;
}

.header-menu ul li {
    padding: 15px 20px 30px 20px;
    background-color: #213E39;
    list-style: none;
    border-radius: 0 0 25px 25px;

    transition: .3s ease transform;
}

.header-menu ul li:first-child {
    border-radius: 0 0 25px 0;
    width: 130px;
}

.header-menu ul li:first-child a {
    margin-left: 60px;
}

.header-menu ul li:hover {
    transform: translateY(-10px);
}

.header-menu ul li a{
    font-size: 22px;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    height: 120px;
    margin-top: 100px;
    background-color: #3D3D3D;
}

footer a {
    font-family: 'Inter', sans-serif;
    color: #BABABA;
    font-size: 22px;

    transition: .3s ease color;
}

footer a:hover {
    color: #bababa75;
}