body {
    margin: 0;
    background-color: #7B7B7B;
}

main {
    margin-top: 0px !important;
}

.header-menu ul li:first-child {
    margin-left: -30px;
}

.landmark-img-container {
    position: relative;
    height: 640px;
    z-index: 0;
    margin: 30px;
    overflow: hidden;
}

.landmark-img-container img {
    position: absolute;
    width: 100%;
}

.lavochka-container img {
    top: -200px;
}

.add-favorite-button {
    position: relative;
    font-size: 22px;
    z-index: 1;
    width: 330px;
    height: 70px;
    border-radius: 25px;
    padding: 5px 20px 0 5px;
    background-color: #BE9973;
    top: 486px;
    left: 89px;
    cursor: pointer;
}

.add-favorite-button p {
    margin-left: 90px;
    text-wrap: nowrap;
    color: #674042;
    font-family: "Kelly Slab", sans-serif;
}

.add-favorite-button::before {
    content: '';
    position: absolute;
    background-image: url(/assets/img/landmark-imgs/compass.png);
    background-repeat: no-repeat;
    width: 109px;
    height: 132px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.landmark-info {
    padding: 0 200px;
    margin-top: 100px;
    color: white;
}

.landmark-title {
    position: relative;
    font-size: 48px;
    margin-left: 25px;
}

.landmark-title::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 87px;
    background-image: url(/assets/img/landmark-imgs/qoutation-marks.png);
    background-repeat: no-repeat;
    left: -130px;
}

.landmark-text {
    font-size: 24px;
    width: 1000px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.landmark-menu {
    display: flex;
    gap: 70px;
    padding: 50px 200px;
    flex-wrap: wrap;
}

.background-img-routes {
    position: absolute;
    top: 820px;
    width: 1489px;
    height: 1574px;
    z-index: -1;
}

.recomendations {
    padding: 0 150px;
    margin-top: 50px;
}

.recomendations-title {
    font-size: 48px;
    font-family: "Kelly Slab", sans-serif;
    color: #8D0B0E;
}

.recomendations-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.recomendations-item {
    width: 400px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 20px;
    overflow: hidden;
}

.recomendations-item img {
    width: 400px;
    height: 260px;
}

.recomendations-item p, .recomendations-item-info a {
    font-size: 22px;
    margin: 0;
    color: #674042;
}

.recomendations-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 20px 0;
    box-sizing: border-box;
}

.recomendations-item-info a {
    position: relative;
    cursor: pointer;
}

.recomendations-item-adress {
    position: relative;
    text-align: center;
}

.recomendations-item-adress::before {
    content: '';
    position: absolute;
    background-image: url(/assets/img/landmark-imgs/adress-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    left: -40px;
    top: -10px;
}

.recomendations-item-info button::before {
    content: '';
    position: absolute;
    background-image: url(/assets/img/landmark-imgs/add-to-favorite-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -5px;
}

.feedback {
    margin-top: 100px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.feedback-title {
    text-align: center;
    font-size: 48px;
    color: #8D0B0E;
}

.feedback-item {
    padding: 25px 30px;
    width: 600px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.feedback-photo img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
}

.feedback-info {
    font-family: "Kelly Slab", sans-serif;
}

.feedback-name {
    font-size: 28px;
    color: black;
}

.feedback-text {
    color: black;
    font-size: 24px;
    width: 400px;
}