main {
    margin-top: 100px;
    overflow-x: hidden;
}

.tours-title {
    text-align: center;
    font-size: 48px;
}

.tours-slider {
    position: relative;
    margin-top: 50px;
    margin-left: 110px;
    width: 1330px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.tours-slider-line {
    position: absolute;
    left: 0;
    display: flex;
    column-gap: 30px;
    transition: .3s ease left;
}

.slider-line-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 315px;
    border-radius: 25px;
    transform: scale(0.7);
    z-index: -1;
    
    transition: .3s ease height, .3s ease transform;
}

.slider-line-item img {
    width: 350px;
    height: 250px;
}

.slider-line-item__active {
    height: 500px;
    transform: scale(1.1);
}

.slider-item-rating {
    margin-left: -30px;
}

.slider-line-item img {
    border-radius: 25px;
    width: 380px;
    height: 275px;
}

.slider-item-info {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
}

.slider-item-title {
    font-size: 24px;
    white-space: nowrap;
    margin-left: -30px;
    height: 0px;
    overflow: hidden;

    transition: .3s ease height;
}

.slider-item-title__active {
    height: 30px;
}

.slider-item-description {
    margin-left: -30px;
    font-size: 18px;
    margin-top: 30px;
    text-align: justify;
}

.slider-arrow-left {
    position: absolute;
    transform: rotate(-90deg);
    left: 40px;
    top: 40%;
    cursor: pointer;
    z-index: 2;
}

.slider-arrow-right {
    position: absolute;
    transform: rotate(90deg);
    right: 40px;
    top: 40%;
    cursor: pointer;
    z-index: 2;
}

.slider-left-button {
    position: absolute;
    width: 300px;
    height: 246px;
    top: 208px;
    border: 2px solid black;
    z-index: 2;
}

.slider-right-button {
    position: absolute;
    width: 300px;
    height: 246px;
    top: 208px;
    right: 0;
    border: 2px solid black;
    z-index: 3;
}

.change-slider-method {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    user-select: none;
}

.change-slider-method input + label {
    font-family: "Inter", sans-serif;
}

.slider-line-right, .slider-line-left {
    position: absolute;
    top: 34%;
    width: 350px;
    height: 190px;
    z-index: 2;
    display: none;
}

.slider-line-right {
    right: 0px;
}

.donwload {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 70%;
    border-radius: 25px;
    background-color: #aaaaaa20;
    padding: 15px;
}

.donwload p {
    width: 210px;
    font-size: 18px;
    text-align: center;
}

.donwload a {
    margin-top: 10px;
    background-color: #910505;
    outline: none;
    border: none;
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;

    transition: .3s ease background-color;
}

.donwload button:hover {
    background-color: #a50404;
}